<mat-card>
  <form #vehicleForm="ngForm" (ngSubmit)="save(userForm.value)">
    <mat-card-header>
      <mat-card-title><h2>H</h2></mat-card-title>
    </mat-card-header>

      <alert></alert>

    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit"
              [disabled]="!vehicleForm.form.valid" (click)="upload()">Save</button>
      <button mat-raised-button routerLink="/user-profile/{{currentUser.user.id}}">Cancel</button>
    </mat-card-actions>
  </form>
  <button mat-raised-button color="primary" (click)="openInput()">Velg bildet</button>
  <input hidden="hidden" id="fileInput" multiple type="file" (change)="fileChange($event)" />
  <button mat-raised-button [disabled]="!ourFile" color="accent" (click)="upload()">Last opp</button>
</mat-card>
