/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

.center-card {
  width: 100%;
  text-align: center;
}

/* For compability with ngx-gallery */
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}
