/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.edit-card {
  max-width: 600px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  background-color: whitesmoke;
}

.icon {
  float: left;
}
