<div fxLayout="row">
  <mat-card fxFlex="1 1">
    <h3 mat-line>Lag ny bruker</h3>
    <app-register></app-register>
  </mat-card>
  <mat-card fxFlex="1 1">
    <h3 mat-line>Lag nytt selskap</h3>
    <app-register-company></app-register-company>
  </mat-card>
</div>

<div fxLayout="row">
  <mat-card *ngIf="currentUser" fxFlex="1 1">
    <h3 mat-line>Alle registrerte brukere</h3>
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        <a mat-flat-button (click)="deleteUser(user.id)" class="text-danger">Delete</a>
      </mat-list-item>
    </mat-list>
    <alert></alert>
  </mat-card>
  <mat-card *ngIf="currentUser" fxFlex="1 1">
    <h3 mat-line>Alle selskap</h3>
    <mat-list>
      <mat-list-item *ngFor="let company of companies">
        {{company.name}}
        <a mat-flat-button (click)="deleteCompany(company.id)" class="text-danger">Delete</a>
      </mat-list-item>
    </mat-list>
    <alert></alert>
  </mat-card>
</div>

