


<!--
<mat-card>
  <alert></alert>
  <div class="center-card" style="margin-top: 10px">
    <mat-card class="inlineStyle">
      <mat-list role="list" style="float: left">
        <mat-list-item role="listitem">username: {{currentUser.user.username}}</mat-list-item>
        <mat-list-item role="listitem">first name: {{currentUser.user.firstName}}</mat-list-item>
        <mat-list-item role="listitem">last name: {{currentUser.user.lastName}}</mat-list-item>
        <mat-list-item role="listitem">email: {{currentUser.user.email}}</mat-list-item>
      </mat-list>
      <button mat-fab color="accent" [routerLink]="['/vehicle-edit', currentUser.user.id]">Edit</button>
    </mat-card>
  </div>
</mat-card>
-->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{currentUser.user.username}}</mat-card-title>
    <mat-card-subtitle>{{currentUser.user.firstName}} {{currentUser.user.lastName}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/profile.png">
  <mat-card-content>
    <p>{{currentUser.user.email}} </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="accent" [routerLink]="['/user-edit', currentUser.user.id]">Oppdater</button>
  </mat-card-actions>
</mat-card>
