<mat-card>
  <mat-card-title>Kjøretøy</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let vehicle of vehicles">
          <a mat-flat-button [routerLink]="['/vehicle-detail', vehicle.id]">{{vehicle.id}}. {{vehicle.model.name}}, {{vehicle.model.year}}</a>
      </mat-list-item>
      <!--<mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = $event">
      </mat-paginator>-->
    </mat-list>
    <button mat-fab color="accent" [routerLink]="['/vehicle-add']">Add</button>

  </mat-card-content>

</mat-card>
