<!--<mat-card>-->
  <!--<mat-card-title>{{listing.title}}</mat-card-title>-->
  <!--<mat-card-header>-->
    <!--<mat-list-item role="list" style="float: left">-->
      <!--<mat-list-item role="listitem"></mat-list-item>-->
    <!--</mat-list-item>-->
  <!--</mat-card-header>-->

  <br>
  <br>
  <app-vehicle-gallery></app-vehicle-gallery>
  <alert></alert>
  <br>
<div *ngIf="listing || vehicle || listing.company ||
  listing.vehicle.typeData || listing.vehicle.typeData.model || listing.vehicle.typeData.model.brand">
  <div class="center-card" style="margin-top: 10px">
    <mat-card class="inlineStyle">

      <mat-card-title>{{listing.title}}</mat-card-title>
      <mat-card-subtitle>{{listing.underTitle}}</mat-card-subtitle>
      <mat-list role="list" style="float: left">
        <mat-list-item role="listitem">
            Total pris: {{listing.totalPrice | currency: 'NOK': 'kr' : '4.0-0'}}
        </mat-list-item>
        <mat-list-item role="listitem">Reg.nr: {{listing.vehicle?.regNo}}</mat-list-item>
        <mat-list-item role="listitem">Modell: {{listing.vehicle?.typeData?.model?.brand?.name}},{{listing.vehicle?.typeData?.model?.name}}</mat-list-item>
        <mat-list-item role="listitem">Årsmodell: {{listing.vehicle?.typeData?.model?.year}}</mat-list-item>
        <mat-list-item role="listitem">Type: {{listing.vehicle?.typeData?.typeName}}</mat-list-item>
        <mat-list-item role="listitem">Biltype: {{listing.vehicle?.typeData?.bodyType}}</mat-list-item>
        <mat-list-item role="listitem">Antall eiere: {{listing?.noOfOwners}}</mat-list-item>
        <mat-list-item role="listitem">Bilens tilstand: {{listing?.carCondition}}</mat-list-item>
        <mat-list-item role="listitem">Farge: {{listing.vehicle?.exteriorColorMain}}</mat-list-item>
        <mat-list-item role="listitem">Annonse laget: {{listing?.dateCreated}}</mat-list-item>

      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">Kilometerstand: {{listing.vehicle?.mileage}} km</mat-list-item>
        <mat-list-item role="listitem">Girkasse: {{listing.vehicle?.typeData?.transmission}}</mat-list-item>
        <mat-list-item role="listitem">Hjuldrift: {{listing.vehicle?.typeData?.wheelDrive}}</mat-list-item>
        <mat-list-item role="listitem">Vekt: {{listing.vehicle?.typeData?.weight | number}} kg</mat-list-item>
        <mat-list-item role="listitem">Antall dører: {{listing.vehicle?.typeData?.noOfDoors | number}}</mat-list-item>
        <mat-list-item role="listitem">Antall seter: {{listing.vehicle?.typeData?.noOfSeats | number}}</mat-list-item>
        <mat-list-item role="listitem">Drivstoff: {{listing.vehicle?.typeData?.fuel}}</mat-list-item>
        <mat-list-item role="listitem">Bagasjerom: {{listing.vehicle?.typeData?.sizeOfBoot}} L</mat-list-item>
        <mat-list-item role="listitem">Annonse utløper: {{listing.dateExpired}}</mat-list-item>
      </mat-list>

      <mat-accordion class="inlineStyle">
        <mat-expansion-panel class = "inlineStyle">
          <mat-expansion-panel-header class="inlineStyle">
            <i class="material-icons">
              subject
            </i>
            Beskrivelse
          </mat-expansion-panel-header>
          {{listing.description}}
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="inlineStyle">
        <mat-expansion-panel class = "inlineStyle">
          <mat-expansion-panel-header class="inlineStyle">
            <i class="material-icons">
              call
            </i>
            Selger
          </mat-expansion-panel-header>
          <mat-list role="list" style="float: left">

            <mat-list-item role="listitem">Bedrift: {{listing.company?.name}}</mat-list-item>
            <mat-list-item role="listitem">Telefon: {{listing.company?.phoneNumber}}</mat-list-item>
          </mat-list>
          <mat-list role="list" style="float: left">
            <mat-list-item role="listitem">Region:
              <ng-container *ngFor="let region of listing?.company?.regions">
                {{region?.name}}
              </ng-container>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>


      <mat-accordion class="inlineStyle">

        <mat-expansion-panel class = "inlineStyle">

          <mat-expansion-panel-header class="inlineStyle">
            <div class="icon">
            <i class="material-icons">
              build
            </i>
              </div>
            Tekniske Detaljer
          </mat-expansion-panel-header>
          <mat-list role="list" style="float: left">
            <div *ngIf="!listing.vehicle.typeData.dinosaur">
              <mat-list-item role="listitem">Betterikapasitet: {{listing.vehicle?.typeData?.batteryCapacity}} kWh</mat-list-item>
              <mat-list-item role="listitem">Rekkevidde: {{listing.vehicle.typeData.range}} km</mat-list-item>
              <mat-list-item role="listitem">Effekt: {{listing.vehicle?.typeData?.engineEffect}}</mat-list-item>

            </div>

            <div *ngIf="listing.vehicle.typeData.dinosaur">
              <mat-list-item role="listitem">Drivstoffkapasitet: {{listing.vehicle?.maxFuel}} L </mat-list-item>
              <mat-list-item role="listitem">Rekkevidde: {{listing.vehicle?.maxKmTank}} km </mat-list-item>
              <mat-list-item role="listitem">Effekt: {{listing.vehicle?.typeData?.engineEffect}}</mat-list-item>
              <mat-list-item role="listitem">Volum: {{listing.vehicle?.typeData?.engineVolume}} cm<sup>2</sup></mat-list-item>
              <mat-list-item role="listitem">CO2 :{{listing.vehicle?.typeData?.co2}} g/km</mat-list-item>
              <mat-list-item role="listitem">NOx: {{listing.vehicle?.typeData?.nox}} mg/km</mat-list-item>

            </div>
          </mat-list>
          <mat-list role="list" style="float: left">
            <mat-list-item role="listitem">Først registreringsdato: {{listing.vehicle?.firstRegistration | date}}</mat-list-item>
            <div *ngIf="listing.vehicle?.servicePlanFollowed">
              <mat-list-item role="listitem">Service plan er fulgt: 	&#10004;</mat-list-item>
            </div>
            <div *ngIf="!listing.vehicle?.servicePlanFollowed">
              <mat-list-item role="listitem">Service plan er fulgt: &#10008;</mat-list-item>
            </div>
            <div *ngIf="listing.vehicle?.serviceHistory">
              <mat-list-item role="listitem">Service historie finnes: 	&#10004;</mat-list-item>
            </div>
            <div *ngIf="!listing.vehicle?.serviceHistory">
              <mat-list-item role="listitem">Service historie finnes: &#10004;</mat-list-item>
            </div>
            <mat-list-item role="listitem">Garanti: {{listing.vehicle?.warranty}}</mat-list-item>
            <mat-list-item role="listitem">Garanti betingelse kilometerstand: {{listing.vehicle?.warrantyDistance}} km</mat-list-item>
            <mat-list-item role="listitem">Garanti betingelse dato: {{listing.vehicle?.warrantyDuration}}</mat-list-item>
            <mat-list-item role="listitem">Garanti betingelse link: {{listing.vehicle?.warrantyUrl}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="inlineStyle">
        <mat-expansion-panel class = "inlineStyle">
          <mat-expansion-panel-header class="inlineStyle">
            <i class="material-icons">
              more_vert
            </i>
            Annet
          </mat-expansion-panel-header>
          <mat-list role="list" style="float: left">
            <mat-list-item role="listitem">Eksteriør farge: {{listing.vehicle?.exteriorColorMain}}</mat-list-item>
            <mat-list-item role="listitem">Eksteriør farge 2: {{listing.vehicle?.exteriorColor}}</mat-list-item>
          </mat-list>
          <mat-list role="list" style="float: left">
            <mat-list-item role="listitem">Interiør: {{listing.vehicle?.interiorType}}</mat-list-item>
            <mat-list-item role="listitem">Interiør farge: {{listing.vehicle?.interiorColor}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card>
  </div>
</div>


