<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
    <!--  <span>HOME</span> -->
    <a mat-button routerLink="/">Hjem</a>
    <a mat-button [routerLink]="['/user-profile', currentUser.user.id]" *ngIf="currentUser">Profil</a>
    <span class="fillSpace"></span>
    <!-- <a mat-button routerLink="/login" color="accent" *ngIf="!currentUser">Logg inn</a> -->
    <button mat-flat-button color="accent" (click)="logout()" *ngIf="currentUser">Logg ut</button>
    <button mat-flat-button color="accent" routerLink="/login" *ngIf="!currentUser">Logg inn </button>
  </mat-toolbar-row>
</mat-toolbar>
